{% extends 'base.html.twig' %}

{% block title %}Village Green
{% endblock %}

{% block body %}


	<div class="container">
		<div class="row pt-3">
			<div class="col-9">
				<img class="w-100" height="500" src="/assets/images/BODY/pub_guitare.jpg">
			</div>

			<div class="col-3">
				<img class="w-100" height="500" src="/assets/images/BODY/banniere_droite_prix.jpg">
			</div>
		</div>
	</div>


	<div class="container">
		<div class="row pt-3">
			<div class="col-12">
				<img class="w-100" src="/assets/images/BODY/banniere_centre.jpg" >

				<hr>

				<div class="container">
					<div class="row">
						<div class="col-12">
							<h2 id="titre1">
								Nos catégories
							</h2>
						</div>
					</div>
				</div>

<div class="container">
	<div class="row pt-3">
		<div class="col-3 p-0">
			<img class="img-fluid" src="/assets/images/BODY/categories_batterie.jpg" id="batterie">
		</div>
		<div class="col-3 p-0 ">
			<img class="img-fluid" src="/assets/images/BODY/categories_guitare.jpg" id="guitare">
		</div>
		<div class="col-3 p-0">
			<img class="img-fluid" src="/assets/images/BODY/categories_piano.jpg" id="piano">
		</div>
		<div class="col-3 p-0">
			<img class="img-fluid" src="/assets/images/BODY/categories_saxo.jpg" id="saxo">
		</div>
		<div class="col-3 p-0">
			<img class="img-fluid" src="/assets/images/BODY/categories_sono.jpg" id="sono">
		</div>
		<div class="col-3 p-0">
			<img class="img-fluid" src="/assets/images/BODY/categories_micro.jpg" id="micro">
		</div>
		
		

		<div class="col-3 p-0">
			<img class="img-fluid" src="/assets/images/BODY/categories_cable.jpg" id="cable">
		</div>
		<div class="col-3 p-0">
			<img class="img-fluid" src="/assets/images/BODY/categories_cases.jpg" id="cases">
		</div>

<hr>
<hr>
<hr>
<hr>

<div class="container">
    <div class="row">
        <div class="col-7">
            <h2 id="titre1">
                Nos meilleures ventes
            </h2>
            <hr>
                <img class="img-fluid" src="/assets/images/BODY/top_ventes_guitare.jpg" id="top_guitare">
                <img class="img-fluid" src="/assets/images/BODY/top_ventes_piano.jpg" id="top_piano">
                <img class="img-fluid" src="/assets/images/BODY/top_ventes_saxo.jpg" id="top_saxo">
        </div>

        <div class="col-5">
            <h2 id="titre1">
                Nos partenaires
            </h2>
            <hr>
                <img class="img-fliud" src="/assets/images/BODY/partenaires.jpg" id="partenaires">
        </div>
		<hr>
		<hr>

<div class="container">
	<div class="row">
		<div class="col-12">
			<img class="img-fluid" src="/assets/images/FOOTER/footer.jpg" id="footer">
		</div>
	</div>
</div>		





				
			
				
	

































			{% endblock %}

